.vitrineitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  
}
.vitrineitem__nome{
  text-transform: uppercase;
  font-weight: 400;
}
.vitrineitem__bottom{
  display: flex;
  flex-direction: column;
  position: relative;
}
.vitrineitem__preco {
  font-weight: bold;
  text-align: right;
}
.vitrineitem__preco--desconto {
  text-decoration-line: line-through;
  font-weight: initial;
  font-size: 12px;
  position: absolute;
  top: 2px;
  left: -20px;
}
.vitrineitem__parcelas{
  font-size: 12px;
  font-weight: initial;
}
.vitrineitem__carrinho {
  cursor: pointer;
  background-color: #ffa015;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 17px;
  position: absolute;
  right: -60px;
}

/* Animations */

.showItem {
  animation: show .5s ease-in forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}