.vitrineitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.vitrineitem__nome{
  text-transform: uppercase;
  font-weight: 400;
}
.vitrineitem__bottom{
  display: flex;
}
.vitrineitem__preco {
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}
.vitrineitem__preco span{
  font-size: 12px;
  font-weight: initial;
  display: block;
}
.vitrineitem__carrinho {
  cursor: pointer;
  background-color: #ffa015;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 17px;
}
