.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.separador {
  border: none;
  height: 2px;
  background-color: #ffa015;
  margin: 0;
}
.app {
  position: relative;
}
.main {
  display: grid;
  grid-template-areas: 'Aside Vitrine';
  grid-template-columns: 20% auto;
}
@media only screen and (max-width: 800px) {
  .main {
    display: grid;
    grid-template-areas: 'Vitrine';
    grid-template-columns: auto;
  }
}

.aside {
  grid-area: Aside;
}
.mobile__close {
  display: none;
}
@media only screen and (max-width: 800px) {
  .aside {
    grid-area: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    background-color: #fff;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 70%;
    box-shadow:1px 1px 10px 0px #7c7c7c7c;
  }
  .mobileaside__open {
    display: block;
  }
  .mobileaside__close {
    display: none;
  }
  .mobile__close {
    position: absolute;
    display: block;
    font-size: 25px;
    right: 15px;
    top: 10px;
  }
  .mobile__close--menu {
    display: block
  }
  /* Animations */

  .showMenu {
    animation: showMenu .2s ease-in forwards;
  }

  @keyframes showMenu {
    0% {
      transform: translatex(-200px);
    }
    100% {
      transform: translatex(0);
    }
  }
  .hideMenu {
    animation: hideMenu .5s ease-out forwards;
  }

  @keyframes hideMenu {
    0% {
      transform: translatex(0);
    }
    100% {
      transform: translatex(-100px);
    }
  }
}

.vitrine {
  grid-area: Vitrine;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  margin-bottom:280px;
  align-items: flex-end;
}

.button__more{
  position: absolute;
  bottom: -109px;
  text-decoration: none;
  color: #fff;
  background-color: #ffa015;
  border: none;
  padding: 15px 80px;
  text-transform: uppercase;
  cursor: pointer;

}

.footer {
  background-color: #050505;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
}

