.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.separador {
  border: none;
  height: 2px;
  background-color: #ffa015;
}

.main {
  display: grid;
  grid-template-areas: 'Aside Vitrine';
  grid-template-columns: 20% auto;
}

.sub-header {
  background-color: #aac28b; }

.aside {
  grid-area: Aside;
  background-color: #a71c1c; }

.vitrine {
  grid-area: Vitrine;
  background-color: #311ca7; }

.footer {
  background-color: #1d1c1c;
  color: #fff;
  text-align: center; }
