.colorfilter__titulo {
  text-transform: uppercase;
  font-size: 20px;
}

.colorfilter__input {
  display: block;
  font-size: 14px;
  color: #292929;
  font-weight: 400;
  position: relative;
  padding: 5px 0 5px 30px;
  text-transform: capitalize;
  width: 90%;
}

.colorfilter__input input {
  display: none;
}

.colorfilter__input::before {
  content: "";
  width: 19px;
  height: 19px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  background: #fff;
  display: inline-block;
  left: 0;
  margin-right: 5px;
  position: absolute;
  cursor: pointer;
}

.colorfilter__input--selected::after {
  content: "";
  width: 11px;
  height: 11px;
  background: #ffa015;
  left: 5px;
  top: 10px;
  display: inline-block;
  position: absolute;
  z-index: 9;
}

.colorfilter__vermais {
  background: none;
  color: #8f8e8e;
  border: none;
  border-bottom: #8f8e8e 1px solid;
  display: inline-block;
  margin: 15px 0;
  text-decoration: none;
}
.colorfilter__vermais i {
  margin-left: 5px;
}