.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header__logo {
  width: 95px;
}
.header__bag {
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
}

.header__bag i {
  font-size: 25px;
}

.bag__quantidade {
  position: absolute;
  background-color: #ffa015;
  color: #fff;
  padding: 2px 6px;
  border-radius: 55px;
  bottom: -5px;
  right: -5px;
}


